*{
    margin: 0;
    padding: 0;
    color: #D3D3D3;
    font-family: 'EB Garamond', serif;
}

section {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgb(179, 104, 136) 0%, rgb(96, 144, 199) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 370px;
    height: 500px;
    background: #1C1C1C;
    border-top: solid 10px #FFB6C1;
    }

.box h1{
    font-size: 2.4em;
    text-align: center;
    margin: 0.4em;
    font-family: 'Rubik Vinyl', cursive;
}

.logo {
    margin-left: 9em;
}

.box .logo img {
    width: 5em;
}

.box p {
    margin-top: 2em;
    text-align: center;
    /* padding: 0.4em; */
    font-size: 1.3em;
}



button {
    border: none;
    background-color: transparent;
    width: 3em;
    height: 3.5em;
    margin-left: 45%;
    margin-top: 3em;
    
}

button img {
    width: 4em;
}



.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin-left: 6em;
    margin-bottom: 1em;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
}





